body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 12px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("./img/fundo9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0;
    padding: 0;
    
}

ul.menu  {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

li.menu {
    list-style-type: none;
    display: list-item;
}

div {
    display: block;
}


.container {
    padding: 0px 100px;
}


a {
    position: relative;
    color: #fff;
    text-decoration: none;  
  }
  
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
}



























.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    Height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    margin: 0;
    padding: 0;

}

.timeline ul li {
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
    list-style-type: none;



}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
    
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;

}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: 14px;
    width: 10px;
    Height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -24px;
    width: 10px;
    Height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233,33,99,1);

}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99,0.3);
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;

}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;

}